
/* Update the fadeIn animation */
@keyframes fadeIn { 
  from { 
    opacity: 0;
    backdrop-filter: blur(0px);
  } 
  to { 
    opacity: 1;
    backdrop-filter: blur(10px);
  } 
}
@keyframes fadeIn2 { from {  opacity: 0;  } to {  opacity: 1;  } }
@keyframes slideDown {
  0% { transform: translateY(-50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

h1{
  animation: fadeIn2 2s ease-in-out;
}

.clock {
  font-size: 36px;
  margin-bottom: 20px;
  animation: slideDown 1.5s ease;
}


.weather-widget{
  animation: fadeIn2 3.5s ease-in-out;
}