@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;  
    height: 250px; 
    background-color: #333333; 
    color: white;
    font-family: 'Quicksand', Arial, sans-serif;
    margin: 0; 
    overflow: hidden;
}

img.logo { width: 48px; height: 48px; margin-bottom: 10px; animation: float 3s ease-in-out infinite; }

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-3px); 
    }
    100% {
        transform: translateY(0px); 
    }
}

button {
    background-color: #00b894; 
    color: white;
    border: none;
    padding: 10px; 
    width: calc(100% - 30px);
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.2s; 
    font-size: 16px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding-left: 10px; 
    margin-bottom: 20px;
}

button img { width: 18px; height: 18px; margin-right: 5px; }
button:hover { background-color: #009c6a;  }
button:active { transform: scale(0.95);  }
.Title { padding-bottom: 30px; font-size: 20px; text-align: center; }